{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   <img src="{{ asset('images/logo.png') }}" alt="Symfony" />
</div>
{% endblock %}
