{% extends 'base.html.twig' %}

{% block title %}Sud P2ST{% endblock %}

{% block body %}
<div class="container">
   <div class="sud">
      <img src="{{ asset('images/logo.png') }}" alt="Symfony" />
   </div>
   <div class="main">
      <h1>Bienvenue sur le site pour nos éléctions CSE</h1>
   </div>
</div>
{% endblock %}
